################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ValkyrEngine.Input.Tests/obj
/ValkyrEngine.Input/obj
/.vs
